<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mysql.css" />
    <title>Equipment</title>
  </head>
  <body>
    <div id="root">
      <h1>Equipment</h1>
      <% for(let e of equipment) { %>
      <details>
        <summary>
          <strong><%= e['item'] %> ::</strong>
          <span><%= e['hero'] %></span>
        </summary>
        <ul>
          <strong><%= e['lore'] %></strong>
          <li>Wit: <%= e['wit'] %></li>
          <li>Strength: <%= e['strength'] %></li>
          <li>Attack: <%= e['attack'] %></li>
          <li>Defense: <%= e['defense'] %></li>
          <li>Magic: <%= e['magic'] %></li>
        </ul>
        <form action="/sql/equipment/remove_equipment" method="post">
          <input type="hidden" name="equipment_id" value=<%= e['id'] %> />
          <button type="submit">Remove Item</button>
        </form>
      </details>
      <% } %>
      <h3 style="margin-bottom: 0">Create Equipment</h3>
      <details style="margin-top: 0">
        <summary></summary>
        <form action="/sql/equipment/add_equipment" method="post">
          <label for="item_name">Item Name: </label>
          <input type="text" id="item_name" name="item_name" /><br />

          <label for="lore">Lore: </label>
          <input type="text" id="lore" name="lore" />

          <label for="wit_modifier">Wit Modifier: </label>
          <input type="number" id="wit_modifier" name="wit_modifier" /><br />

          <label for="strength_modifier">Strength Modifier: </label>
          <input
            type="number"
            id="strength_modifier"
            name="strength_modifier"
          /><br />

          <label for="attack_modifier">Attack Modifier: </label>
          <input
            type="number"
            id="attack_modifier"
            name="attack_modifier"
          /><br />

          <label for="defense_modifier">Defense Modifier: </label>
          <input
            type="number"
            id="defense_modifier"
            name="defense_modifier"
          /><br />

          <label for="magic_modifier">Magic Modifier: </label>
          <input
            type="number"
            id="magic_modifier"
            name="magic_modifier"
          /><br />

          <button type="submit">Add item</button>
        </form>
      </details>
    </div>
  </body>
</html>
