<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>It is <%= date %>, a <%= day %></h1>
    <h2>Here is the schedule:</h2>
    <div>
      <%= sched[1] %><br />
      <%= sched[2] %><br />
      <%= sched[3] %><br />
      <%= sched[4] %><br />
      <%= sched[5] %><br />
    </div>
  </body>
</html>
